<html>
<head></head>
<body>

<table border="1">
<tr><th>VALOR1</th><th>VALOR2</th><th>VALOR3</th></tr>

<TMPL_VAR NAME="TITLE">
<tr>
<TMPL_LOOP NAME="ROWS">
    <td><TMPL_VAR NAME="VALUE"></td>
</TMPL_LOOP>
</tr>
</table>

</body>
</html>
