<html>
<head></head>
<body>

<table border="1">

<TMPL_VAR NAME="TITLE">

<TMPL_LOOP NAME="Campos">
  <th><TMPL_VAR NAME="Nombre"></th>
</TMPL_LOOP>

<!-- ATTENTION!!! BUG the "l" from "serialn" is a "1" (one!!!) -->
<TMPL_LOOP NAME="Valores">
 <tr>
  <td><TMPL_VAR NAME="id"></td>
  <td><TMPL_VAR NAME="seria1n">&nbsp;</td>
  <td><TMPL_VAR NAME="type"></td>
 </tr>
</TMPL_LOOP>

</table>

</body>
</html>
