<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-15">
   <title>DOABOO TABLE</title>
   <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="/doaboo/doaboo.css" media="screen" type="text/css">
   <TMPL_INCLUDE NAME="doaboo.js">
   <!--Menubar-->
   <script src="/doaboo/menubar/prototype.js" type="text/javascript"></script>
   <script src="/doaboo/menubar/scriptaculous.js" type="text/javascript"></script>
   <script src="/doaboo/menubar/menu.js" type="text/javascript"></script>
   <link  href="/doaboo/menubar/menu.css" rel="stylesheet" type="text/css" />
   <!--/Menubar-->	
</head>

<body onload="javascript:AplicarCebra('DataTable');">

<div class="ext font">

<!--Menu with scriptaculous-1.8.3 --->
<TMPL_INCLUDE NAME="menubar/menu.tmpl">
		
<!--<TMPL_VAR NAME="TITLE">-->

<center><table id="DataTable" class="data font">

 <!--Header line - Campos Loop-->
 <tr class="headerline">
   <!-- Control cells -->
   <td class="control">Icon</td>
   <td class="control">&nbsp;</td>
   <td class="control">Icon</td>
   <!-- Column Names Loop -->
   <TMPL_LOOP NAME="Campos">
    <td><TMPL_VAR NAME="Nombre"></td>
   </TMPL_LOOP>
 </tr> 

 <!-- Instances Loop - Cell by Cell -->
 <TMPL_LOOP NAME="Valores">
     <TMPL_IF NAME="__FIRST__">  
		 <tr class="oddline" id="tr_0">
	     <!-- Control Cells -->
         <td class="control">
		   <input type="checkbox" name="check_0" onClick="if(this.checked == true){SelectInstance('0','1');} else {SelectInstance('0','0');}" value="<TMPL_VAR NAME="key">" <TMPL_IF NAME="selected">checked</TMPL_IF>>
	     </td>
         <td class="control">
       	   Iconx2
	     </td>
         <td class="control">
           &nbsp;
	     </td>
	     <!-- /Control Cells -->				
	 </TMPL_IF>
	
	 <TMPL_IF NAME="Newline">
	  	</tr>
	    <TMPL_UNLESS NAME="__LAST__">
		<tr class="oddline" id="tr_<TMPL_VAR NAME="Index">">
	    <!-- Control Cells -->
         <td class="control">
		   <input type="checkbox" name="check_<TMPL_VAR NAME="Index">" onClick="if(this.checked == true){SelectInstance('<TMPL_VAR NAME="Index">','1');} else {SelectInstance('<TMPL_VAR NAME="Index">','0');} " value="<TMPL_VAR NAME="key">" <TMPL_IF NAME="selected">checked</TMPL_IF>>
	     </td>
         <td class="control">
       	   Iconx2
	     </td>
         <td class="control">
           &nbsp;
	     </td>
	    <!-- /Control Cells -->
	    </TMPL_UNLESS>
	 <TMPL_ELSE>  
	    <td><TMPL_VAR NAME="Valor"></td>     	
	 </TMPL_IF>
	  	  	    
   </TMPL_LOOP>

</table></center>

<div>Showing <TMPL_VAR name="INSTANCES_NUMBER"> results in <TMPL_VAR name="COLUMNS_NUMBER"> columns</div>

</div> <!--ext-->
</body>
</html>
