<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-15">
   <title>DOABOO TABLE</title>
   <link rel="stylesheet" href="/doaboo/doaboo.css" media="screen" type="text/css">
   <TMPL_INCLUDE NAME="doaboo.js">
   <!--Menubar and Appear/Hide effects-->
   <link rel="stylesheet" href="/doaboo/menubar/menu.css" media="screen" type="text/css" />
   <script src="/doaboo/menubar/prototype.js" type="text/javascript"></script>
   <script src="/doaboo/menubar/scriptaculous.js" type="text/javascript"></script>
   <script src="/doaboo/menubar/menu.js" type="text/javascript"></script>
   <!--/Menubar-->
   
  <!-- XMLHttpRequest -->
  <script type="text/javascript">  
  <!--   
  var xmlhttp;  
  function showResult(field,str,out) {  
   xmlhttp=GetXmlHttpObject();  
   if (xmlhttp==null) {  
     alert ("Browser does not support HTTP Request");  
     return;  
    }  
   var url="/doaboo-cgi/db.pl";  
   url=url+"?"+field+"="+str; 
   xmlhttp.onreadystatechange=stateChanged(out);  
   xmlhttp.open("GET",url,true);  
   xmlhttp.send(null);  
  }  

  function stateChanged(divname) {  
   if (xmlhttp.readyState==4)  {  
     document.getElementById(divname).innerHTML=xmlhttp.responseText;  
   }  
  }  
 
  function GetXmlHttpObject() {  
   if (window.XMLHttpRequest) {  
     // code for IE7+, Firefox, Chrome, Opera, Safari  
     return new XMLHttpRequest();  
    }  
   if (window.ActiveXObject) {  
     // code for IE6, IE5  
     return new ActiveXObject("Microsoft.XMLHTTP");  
    }  
   return null;  
  }  
  //-->  
  </script>  	
    
</head>


<!--<body onload="javascript:AplicarCebra('DataTable');">-->
<body>

<div class="ext font">

<!--Menu with scriptaculous-1.8.3 --->
<TMPL_INCLUDE NAME="menubar/menu.tmpl">
<TMPL_IF NAME="Adjust">
   <script>AdjustWidth();</script>
</TMPL_IF>
		
<div id="tablediv" class="tablediv">
<form name="tableform" action="/doaboo-cgi/db.pl" method="post">
<center>
	
 <table id="DataTable" class="data font sortable">
 <!--Header line - Campos Loop-->
 <tr class="headerline">
   <!-- Control cells -->
   <td class="control">
     <img src="/doaboo/images/markallrecs.png" onclick="javascript:SelectAllRecs('<TMPL_VAR name="Showfrom">','<TMPL_VAR name="Endrecord">','<TMPL_VAR name="RECORDS_NUMBER">','1'); ">				       	
     <img src="/doaboo/images/markall.png" onclick="javascript:SelectAllViewed('<TMPL_VAR name="Showfrom">','<TMPL_VAR name="Endrecord">','1'); ">
   </td>
   <td class="control">
   	 <input type="hidden" name="end" id="end" value="<TMPL_VAR NAME="Initrecord">">   
   	 <TMPL_IF NAME="Initrecord"> <!-- the UP button not shown if Initrecord is 0 (first page) -->
	    <!-- Value id=end used for the boxup/RePage button -->
 	    <img src="/doaboo/images/boxup.png" onclick="javascript:document.getElementById('init').value='0';document.tableform.submit();">	
        <img src="/doaboo/images/gotoinit.png" onclick="javascript:document.getElementById('init').value='0';document.getElementById('end').value='';document.tableform.submit();">	
	 </TMPL_IF>
   </td>	
   <td class="control">
   	 <img src="/doaboo/images/editoron.png" id="editoronicon" onclick="javascript:$('editorline').style.display='inherit';this.style.display='none';return false;">	 
   </td>
   <!-- Column Names Loop -->
   <TMPL_LOOP NAME="Campos">
	     <td id="dhtmlgoodies_control" onDblClick="slidedown_showHide('box<TMPL_VAR __COUNTER__>');return false;">
	     	<div id="Field_<TMPL_VAR __COUNTER__>" style="display:none;"><TMPL_VAR NAME="Nombre"></div> <!-- Datum for Selected/Unselected Cookies -->
			<span id="izq"><TMPL_VAR NAME="Nombre"></span> <!-- CDA: will be DESC -->
			<span id="der">|</span>
			<div class="dhtmlgoodies_contentBox"  id='box<TMPL_VAR __COUNTER__>'>
				<div class="dhtmlgoodies_content" id='subBox<TMPL_VAR __COUNTER__>'> HintTmplVAr </div> <!-- CDA will be HINT -->
			</div> 
         </td>
   </TMPL_LOOP>
 </tr> 
 
 <!-- First line starts. Closed with </tr> inside the records (Valores) loop, when Newline detected -->
 <tr class="oddline" id="tr_<TMPL_VAR NAME="Initrecord">">
     <!-- Control Cells -->
     <td class="control">
       <TMPL_VAR NAME="InitRecord">:
	   <input type="checkbox" name="record" id="check_<TMPL_VAR NAME="Initrecord">" 
	          value="<TMPL_VAR NAME="Initrecord">"	
			  onClick="if(this.checked == true) { 
			             SelectRecord('<TMPL_VAR NAME="Initrecord">','1'); 
						} else { 
						 SelectRecord('<TMPL_VAR NAME="Initrecord">','0'); 
					    };" 
			  <TMPL_IF NAME="Selected">
			  	checked 
				<script>MarkRecord('<TMPL_VAR NAME="Initrecord">','1')</script>
			  </TMPL_IF> 
			  <!-- > --> <!-- close input -->
     </td>
     <td class="control">
        <img src="/doaboo/images/details.png"  onclick="javascript:">
        <img src="/doaboo/images/details2.png" onclick="javascript:">
	 </td>
     <td class="control">
     	<img src="/doaboo/images/delete.png" onclick="javascript:$('tr_'+<TMPL_VAR NAME="Initrecord">).hide();">!!
	 </td>


 <!-- Records Loop - Cell by Cell -->
 <TMPL_LOOP NAME="Valores">
	 <TMPL_IF NAME="Newline">
	  	</tr>
	    <TMPL_UNLESS NAME="__LAST__">
		<tr class="oddline" id="tr_<TMPL_VAR NAME="Index">">
	    <!-- Control Cells -->
         <td class="control">
		   <TMPL_VAR NAME="Index">:
		   <input type="checkbox" name="record" id="check_<TMPL_VAR NAME="Index">" 
		          value="<TMPL_VAR NAME="Index">" 
				  onClick="if(this.checked == true) { 
				             SelectRecord('<TMPL_VAR NAME="Index">','1'); 
						    } else { 
							 SelectRecord('<TMPL_VAR NAME="Index">','0'); 
						    }"  
				  <TMPL_IF NAME="Selected">
				   checked 
				   <script>MarkRecord('<TMPL_VAR NAME="Index">','1');</script>
				  </TMPL_IF> 
				  <!-- > --> <!-- close input -->
	     </td>
         <td class="control">
       	    <img src="/doaboo/images/details.png"  onclick="javascript:">
            <img src="/doaboo/images/details2.png" onclick="javascript:">
	     </td>
         <td class="control">
           <img src="/doaboo/images/delete.png" onclick="javascript:$('tr_'+<TMPL_VAR NAME="Index">).hide();">!!
	     </td>
	    <!-- /Control Cells -->
		<TMPL_ELSE>
		  <!-- Value used for the boxdown / AvPage button -->	
		  <input type="hidden" name="init" id="init" value="<TMPL_VAR NAME="Index">">	
	    </TMPL_UNLESS>
	 <TMPL_ELSE>  <!-- If -->
	    <td>
	    	<TMPL_IF NAME="IsKey">
	    	   <span class="key" id="<TMPL_VAR NAME="ColNum">"><TMPL_VAR NAME="Valor"></span>
			<TMPL_ELSE>
			   <TMPL_VAR NAME="Valor">
			</TMPL_IF>
		 </td>     	
	 </TMPL_IF>  	  	    
 </TMPL_LOOP> <!-- /End of Records Loop -->
 
  
 <!-- Last Line-->
 <tr class="headerline sortbottom">
 	<input type="hidden" name="init" id="init" value="<TMPL_VAR NAME="Index">">
  	<td class="control">
      <img src="/doaboo/images/unmarkall.png"  onclick="javascript:SelectAllViewed('<TMPL_VAR name="Showfrom">','<TMPL_VAR name="Endrecord">','0'); ">				     
      <img src="/doaboo/images/unmarkallrecs.png" onclick="javascript:SelectAllRecs('<TMPL_VAR name="Showfrom">','<TMPL_VAR name="Endrecord">','<TMPL_VAR name="RECORDS_NUMBER">','0'); ">				     
    </td>
    <td class="control">          
	  <TMPL_UNLESS NAME="Norecords"> 
 	     <img src="/doaboo/images/boxdown.png" onclick="javascript:document.getElementById('end').value='';document.tableform.submit();">	
		 <img src="/doaboo/images/gotoend.png" onclick="javascript:document.getElementById('end').value='<TMPL_VAR name="RECORDS_NUMBER">';document.tableform.submit();">
	  </TMPL_UNLESS>
     </td>
   	 <td class="control">Icon</td>  
   	 <TMPL_LOOP NAME="Campos">
     <td><input type="text" value="<TMPL_VAR NAME="Nombre">"></td>
   	 </TMPL_LOOP>
   </tr>
 
</table>

  <!-- Editor mode line -->
  <div id="editorline" style="display:none";">
  <table class="data font">
  <tr class="headerline">
   <td class="control">
    &nbsp;
   </td>
   <td class="control">
   	&nbsp;
   </td>
   <td class="control">
   	 <img src="/doaboo/images/editoroff.png"  onclick="javascript:$('editorline').style.display='none';$('editoronicon').style.display='inherit';return false;">
   </td>  
   <TMPL_LOOP NAME="Campos">
   	 <input type="hidden" name="edi_<TMPL_VAR NAME="Nombre">">
     <td>Edi-Icons</td>
   </TMPL_LOOP>
  </tr>
  </table>
  </div>
</center></form>

<div>
	  Showing results <TMPL_VAR name="Showfrom">-<TMPL_VAR name="Endrecord"> 
	  from a total of <TMPL_VAR name="RECORDS_NUMBER"> in <TMPL_VAR name="COLUMNS_NUMBER"> 
	  columns of <TMPL_VAR name="Table"> (<span id="totalselrecs"><TMPL_VAR name="Totalselec"></span> selected) 
	  &nbsp;&nbsp;&nbsp;&nbsp;
	  <input type="hidden" name="showmod" id="showmod" value="showall">
	  <img src="/doaboo/images/showselected.png" onclick="javascript:document.getElementById('showmod').value='selected';StoreKeys('1');document.tableform.submit();">
      <img src="/doaboo/images/shownonselected.png" onclick="javascript:document.getElementById('showmod').value='unselected';StoreKeys('0');document.tableform.submit();">
	  <img src="/doaboo/images/showallrecs.png" onclick="javascript:document.getElementById('Valor');document.tableform.submit();"> 
</div>	
	
</div> <!--ext-->

<!-- Pintax -->
<script type="text/javascript"> 
addEvent(window, "load", sortables_init);
addEvent(window, "load", AplicarCebra); 
installTable("DataTable");
</script> 

</body>
</html>
