<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-15">
   <title>DOABOO TABLE</title>
   <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="/doaboo/doaboo.css" media="screen" type="text/css">
   <TMPL_INCLUDE NAME="doaboo.js">
</head>

<body onload="javascript:AplicarCebra('DataTable');">

<!--Menu TEST-->
<!-- AATMPL_INCLUDE NAME="menu/index.html" -->

<div class="ext font">
<TMPL_VAR NAME="TITLE">

<center><table id="DataTable" class="data font">

 <!--Header line - Campos Loop-->
 <tr class="headerline">
   <!-- Control cells -->
   <td class="control">Icon</td>
   <td class="control">&nbsp;</td>
   <td class="control">Icon</td>
   <!-- Column Names Loop -->
   <TMPL_LOOP NAME="Campos">
    <td><TMPL_VAR NAME="Nombre"></td>
   </TMPL_LOOP>
 </tr> 

 <!--First Line of the Instances Loop-->
 <tr class="oddline">
     <td class="control"><input type="checkbox" id="cell"></td>
     <td class="control">&nbsp;</td>
     <td class="control">&nbsp;</td>

   <!-- Instances Loop - Cell by Cell -->
   <TMPL_LOOP NAME="Valores">
    <TMPL_UNLESS NAME="Newline">
     <td><TMPL_VAR NAME="Valor"></td>
    <TMPL_ELSE>   
     </tr>
     <TMPL_UNLESS NAME="__LAST__">
      <tr class="oddline"> <!-- alternative colors applied with JS on body load -->
       <!-- Control Cells-->
       <td class="control"><input type="checkbox" id="cell"></td>
       <td class="control">&nbsp;</td>
       <td class="control">&nbsp;</td>
     </TMPL_UNLESS>
    </TMPL_UNLESS>
   </TMPL_LOOP>

</table></center>

<div>Showing <TMPL_VAR name="INSTANCES_NUMBER"> results in <TMPL_VAR name="COLUMNS_NUMBER"> columns</div>

</div> <!--ext-->
</body>
</html>
