<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-15">
   <title>DOABOO TABLE</title>
   <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="/doaboo/doaboo.css" media="screen" type="text/css">
   <TMPL_INCLUDE NAME="doaboo.js">
   <!--Menubar-->
   <script src="/doaboo/menubar/prototype.js" type="text/javascript"></script>
   <script src="/doaboo/menubar/scriptaculous.js" type="text/javascript"></script>
   <script src="/doaboo/menubar/menu.js" type="text/javascript"></script>
   <link  href="/doaboo/menubar/menu.css" rel="stylesheet" type="text/css" />
   <!--/Menubar-->
   
   <!-- XMLHttpRequest -->
   <script language="javascript" type="text/javascript">  
  <!--   
  var xmlhttp;  
  function showResult(field,str,out)  
  {  
   xmlhttp=GetXmlHttpObject();  
   if (xmlhttp==null)  
    {  
    alert ("Browser does not support HTTP Request");  
    return;  
    }  
   var url="/doaboo-cgi/db.pl";  
   url=url+"?"+field+"="+str;
   alert(url);  
   xmlhttp.onreadystatechange=stateChanged(out);  
   xmlhttp.open("GET",url,true);  
   xmlhttp.send(null);  
  }  

  function stateChanged(elemname)  
  {  
  if (xmlhttp.readyState==4)  
  {  
  document.getElementById(elemname).innerHTML=xmlhttp.responseText;  
  }  
  }  
 
  function GetXmlHttpObject()  
  {  
  if (window.XMLHttpRequest)  
    {  
    // code for IE7+, Firefox, Chrome, Opera, Safari  
    return new XMLHttpRequest();  
    }  
  if (window.ActiveXObject)  
    {  
    // code for IE6, IE5  
    return new ActiveXObject("Microsoft.XMLHTTP");  
    }  
  return null;  
  }  
  //-->  
  </script>  	
</head>

<body onload="javascript:AplicarCebra('DataTable');">

<div class="ext font" id="external">

<!--Menu with scriptaculous-1.8.3 --->
<TMPL_INCLUDE NAME="menubar/menu.tmpl">
		
<!--<TMPL_VAR NAME="TITLE">-->

<form name="table" action="/doaboo-cgi/db.pl" method="post">
<center><table id="DataTable" class="data font">

 <!--Header line - Campos Loop-->
 <tr class="headerline">
   <!-- Control cells -->
   <td class="control">
   	 <!--<input type="hidden" name="userchoice" value="Nextpage">
	 <img src="" onclick="javascript:document.table.submit();">-->
   	 <!--<a href="/doaboo-cgi/db.pl?userchoice=Nextpage">Test</a>-->
	 <img src="/doaboo/images/boxdown.png" onClick="javascript:showResult('userchoice','Nextpage','external');">
   </td>
   <td class="control">&nbsp;</td>
   <td class="control">Icon</td>
   <!-- Column Names Loop -->
   <TMPL_LOOP NAME="Campos">
    <td><TMPL_VAR NAME="Nombre"></td>
   </TMPL_LOOP>
 </tr> 

 <!-- Instances Loop - Cell by Cell -->
 <TMPL_LOOP NAME="Valores">
     <TMPL_IF NAME="__FIRST__">  
		 <tr class="oddline" id="tr_0">
	     <!-- Control Cells -->
         <td class="control">
		   <input type="checkbox" name="check_0" onClick="if(this.checked == true){SelectInstance('0','1');} else {SelectInstance('0','0');}" value="<TMPL_VAR NAME="key">" <TMPL_IF NAME="selected">checked</TMPL_IF>>
	     </td>
         <td class="control">
       	   Iconx2
	     </td>
         <td class="control">
           &nbsp;
	     </td>
	     <!-- /Control Cells -->				
	 </TMPL_IF>
	
	 <TMPL_IF NAME="Newline">
	  	</tr>
	    <TMPL_UNLESS NAME="__LAST__">
		<tr class="oddline" id="tr_<TMPL_VAR NAME="Index">">
	    <!-- Control Cells -->
         <td class="control">
		   <input type="checkbox" name="check_<TMPL_VAR NAME="Index">" onClick="if(this.checked == true){SelectInstance('<TMPL_VAR NAME="Index">','1');} else {SelectInstance('<TMPL_VAR NAME="Index">','0');} " value="<TMPL_VAR NAME="key">" <TMPL_IF NAME="selected">checked</TMPL_IF>>
	     </td>
         <td class="control">
       	   Iconx2
	     </td>
         <td class="control">
           &nbsp;
	     </td>
	    <!-- /Control Cells -->
	    </TMPL_UNLESS>
	 <TMPL_ELSE>  
	    <td><TMPL_VAR NAME="Valor"></td>     	
	 </TMPL_IF>
	  	  	    
   </TMPL_LOOP>

</table></center></form>

<div>Showing <TMPL_VAR name="Recbypage"> results from a total of <TMPL_VAR name="INSTANCES_NUMBER"> in <TMPL_VAR name="COLUMNS_NUMBER"> columns</div>

</div> <!--ext-->
</body>
</html>
