
/* TABS */
div.tabsdiv {	
 background: #bcbcbc;
 margin    : 0px 4px 0px 4px;
}
#tabs {
	height: 24px;
	padding: 0;
	margin:  0;
	list-style: none;
	/*border: 1px blue solid;*/
	
}
#tabs a {
	float: left;
	background-color: #dcdcdc;
	text-decoration: none;
	padding: 3px 6px;
	margin-left: 4px;
	border-top:  1px #dcdcdc solid;
	font-weight: normal;
	color: #787878;
}
#tabs a.active-tab {
	background-color: #bcbcbc;
	padding-top: 5px;
	border-top:  0px solid #bcbcbc;
	-moz-border-radius: 2px;
    -ms-border-radius:  2px;
	font-weight: normal;
	color: #efefef;
}


/* PANEL */
/*
.panel {
	clear:   both;
	display: none;
}
.panel.active-tab-body {
	display: block;	
}
*/


